<div id="modal-container">
    <div id="modal-popup">
        <span class="glyphicon glyphicon-remove close-login"></span>
        @RenderBody()
    </div>
</div>
@RenderSection("scripts", required: false)